header {
	width:85%;
	height:150px;
	border:5px double #000000;
	border-radius:5px;
	background:#66cc66;
	margin:10px auto 0px;
}

header img{
	display: inline-block;
	width:150px;
	height:150px;
	margin top:25px;
	margin-right:50px;
	position:absolute;

}

header h1{
	display: inline-block;
	margin-left:350px;
	margin-top:70px;
	position:absolute;
	color:#660033;
	font-family:'Covered By Your Grace', Bell;

	text-shadow:2px 4px 4px #E8EAF6;

	transition-propietary: color, text-shadow;
	transition-duration:ls,1.5s;
	-webkit-transition:color,1s;
	-moz-transition:color 1s;
}
nav{
	width: 100%;
	height 30px;
	margin:10px auto 0px;
	padding: 0px;
	text-align:center;
}
nav ul{
	list-style:none;
	padding:0px;
	margin:0px 0px 0px 0px;
}
nav ul >li{
	display: inline-block;
	width: 160px;
	height:25px;
	border:2px solid #000000;
	text-align:center;
	padding-top:5px;
	background:#66cc66;
	font-size:1em;
	font-family:'Covered By Your Grace', Courier New;
	text-shadow:2px 4px 4px #000000;
	transition-propietary:background,color;
	transition-duration:2s,2s;

}
nav ul>li:hover{
background:#FF0000;
letter-spacing:2px;
}
nav>ul>li a{
	text-decoration:none;
	color:#ffffff;
}
nav ul li ul{
	position: absolute;
	display: none;
}
nav ul li ul{
	display:block;
}
nav ul li:hover ul;{
	display:block;
	margin-top:4px;
	background:#FF0000;
}
#Create{
	width:85%;
	height:auto;
	margin:1px auto 1px;
}
#Create h2{
	color:#6699ff;
	font-size:2em;
	font-family:'Covered By Your Grace', Courier;
	text-align:left;

}
#entradas{
	width: 960px;
	height: auto;
	background: #660033;
	margin-top: 5px;

}
#entradas{
	margin:10px auto 10px;
	height: auto;
	width: 400px;
	border:4px double #ffffff;
	border-radius: 5px;

}
#entradas{
	font-size: 1.5em;
	color:#000033;
	font-family: 'Abel',sans-serif;
	margin-left: 100px;
}
#entradas h3{
	font-size: 1.2em;
	font-family: 'Abel',sans-serif;
	color:#ffffff;
	padding-right: 2px;

}
#entradas p{
	font-size: 1.2em;
	font-family: 'Abel',sans-serif;
	color:#ff3366;
	padding-right: 2px;

}
#entradas ul>li{
	font-size: 1.2em;
	font-family: 'Abel',sans-serif;
	color:#cc66ff;
	padding-right: 2px;

}
form input {
	width: 200px;
	height: 30px;
	padding-left: 10px;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color:#ff0033;
	border-radius: 4px;
	border: 2px solid #ff0033;


}

 #news form textarea {
	width: 370px;
	height: 150px;
	margin-left: 20px;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color:#ff0033;
	border-radius: 4px;
	border: 2px solid #ff0033;

}

footer{
	width: 85%;
	height: 50px;
	color:#fff;
	padding-top: 5px;
	background: #000;
	margin: 0px auto 5px;
	text-align: center;
	font-size: 1em;
}
@media screen and (max-width: 980px){
	*{
		margin:0px;
	}
	header, nav, #contenido, footer, hr{
		width:100%;
	}

}
@media screen and (max-width: 630px){
	nav{
		height:auto;
	}
	nav ul li{
		width: 100%;
		display: block;
		border-bottom: 1.5px solid #000;
	}
}
@media screen and (max-width: 860px){
	header h1{
		font-size:3em;
	
	margin-left:200px;
	}

}


